# Entorno virtual
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Flask / desarrollo
instance/
.webassets-cache
*.db
*.sqlite3

# Variables de entorno
.env
.env.*

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs
*.log
pip-log.txt
pip-delete-this-directory.txt
